table{
    width: 50%;
    border: 1px solid black;
    border-spacing: 0;
    text-align: center;
}

td{
    border: 1px solid black;
}

.esconder{
    display: none;
}

.verde{
    color:green;
    text-align: right;
    font-family: 'Gill Sans';
}

.rojo{
    color:red;
    font-family: fantasy;
    list-style-type: square;
}

.amarillo{
    color:yellow;
    background-color: black;
    text-align: center;
}

.rosa{
    color:pink;
    background-color: rgb(1, 80, 1);
    text-align: center;
}