body{
    margin: 0;
    background-color: rgb(230, 227, 227);
}
.contenedorPrincipal{
    width: 80%;
    background-color: white;
    margin: auto;
}
.contenedorImg{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.tarjetaImg{
    text-align: center;
}
.tarjetaImg > img{
    width: 307px;
    height: 387px;
    margin: auto;
}
.bordeAzul{
    border: 6px solid rgb(39, 255, 183);
}
.bordeVerde{
    border: 6px solid rgb(100, 167, 255);
}