section{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    width: 80%;
    margin: auto;
}
.paint{
    display: grid;
    grid-template-columns: repeat(50, 1fr);
}
.pixel{
    background-color: rgb(224, 224, 224);
    border: 1px solid black;
    min-width: 20px;
    min-height: 20px;
}
.pixel:hover{
    background-color:rgb(189, 189, 189)
}
.pixel:active{
        background-color: rgb(248, 248, 248);
}