body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif   ;
}
h1{
    color:  rgb(143, 195, 255);
    text-align: center;
}
.container{
    width: 75%;
    margin: auto;
}
.contenidoPagina{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
}
form{
    display: grid;
    padding: 10px;
    row-gap: 15px;
    background-color: rgb(143, 195, 255);
}
form input, select{
    width: 85%;
    padding: 3px;
}
.datoForm{
    display: grid;
    grid-template-columns: 0.25fr 1fr;

}
.btnForm{
    display: flex;
    justify-content: center;
}

table{
    border-collapse: collapse;
    display: contents;
}
th{
    background-color: rgb(143, 195, 255);
}
table, th, td{
    border: 1px solid black;
}
td, th{
    padding: 10px 15px;
}
.contenedorTexto{
    border: 1px solid rgb(143, 195, 255);
    grid-column: 1/3;
    margin: 30px 0;
    min-height: 70px;
}
.tablaGrande{
    grid-column: 1/3;
    display: flex;
    justify-content: center;
}
