#app{
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 20px;
}
.bordeDiv{
    border: 1px solid black;
    padding: 10px;
}
.dobleEspacio{
    grid-column: 1/3;
}
table{
    border-collapse: collapse;
    margin: auto;
}
table, td,th{
    border: 1px solid black;
}
.contenedorMitad{
    height: 50%;
}