#formulario{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 30%;
    margin: 50px auto;
    row-gap: 10px;
}
#btn{
    grid-column: 1/3;
    width: 20%;
    margin: 20px auto;
}