#formulario{
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    width: 40%;
    margin: 50px auto;
    row-gap: 10px;
}
#btn{
    grid-column: 1/3;
    width: 20%;
    margin: 20px auto;
}
.preferencias{
    display: flex; 
    font-size: 10pt;
    gap: 6px;
}