body{
    margin: 0;
}
.listaLibros{
    display: flex;
}
.listaLibros p{
    margin-right: 20px;
}
button, input[type="button"]{
    border-radius: 0;
    border: none;
    background-color: aquamarine;
    color: white;
    padding: 10px 15px;
}
button:hover, input[type="button"]:hover{
    background-color: rgb(15, 161, 167);

}
button:active, input[type="button"]:active{
    background-color: rgb(153, 224, 226);
    color: black;

}
section{
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}
h2{
    grid-column: 1/3;
    text-align: center;
}

section > div{
    background-color: rgb(235, 235, 235);
    padding: 30px;
    display: grid;
    justify-content: center;
}