:root{
    --principal-1: rgb(138, 201, 138);
    --principal-2: rgb(43 47 43);
    --hover-contenido: rgb(123 140 123);
    --active-contenido: rgb(215, 235, 215);
    --texto-1: rgb(255, 255, 255);
    --texto-2:rgb(0, 0, 0);
}

body{
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}
header{
    height: 70px;
    background-color: var(--principal-1);
    display: flex;
}
header > p{
    color: var(--texto-1);
    flex: 1;
    text-align: center;
    margin: 0;
    padding: 25px;
    font-weight: bold;
    transition: transform 0.2s ease-in-out 0.1s;
}
header > p:hover{
    flex: 1;
    text-align: center;
    background-color:var(--hover-contenido);
    transform: scaleX(1.02);
}
header > p:active{
    flex: 1;
    text-align: center;
    background-color:var(--active-contenido);
    color: var(--texto-2);
}
section{
    flex: 1;
}
footer{
    background-color: var(--principal-1);
    height: 100px;
}
.contenido{
    width: 80%;
    margin: auto;
    background-color: var(--principal-2);
    border-radius: 10px;
}